<h1> <%= @country.name %></h1>
<p><strong>Population: </strong><%= @country.population %></p>
<img src="<%= @country.flag %>">
<p><strong>First Language: </strong><%= @country.first_lang %></p>
<p><strong>President: </strong><%= @country.president %></p>

<a href="/countries">Home</a>

